
@import url('../../App.css');

/* ==============================================================================
signUp / signIn - component
============================================================================== */

.dark-theme .login-box {
    border: 1px solid var(--text-dark);
}

.dark-theme input {
    background: var(--nav-input-dark);
    background-color: var(--nav-input-dark);
    color: var(--nav-text-input-dark);
}

.login-box {
    border: 1px solid var(--text-light);
    border-radius: var(--corner-radius);
    width: 20%;

    margin: auto;
    margin-top: 1rem;
    padding: 2rem;
}

.login-box button {
    border-radius: var(--corner-radius);
}

.login-box input {
    border-radius: var(--corner-radius);
    margin: .5rem;
    width: 80%;
}

.dark-theme .login-box input::placeholder {
    color: var(--nav-placeholder-dark);
}

#alt-sign-up {
    font-size: .8rem;
}

/* ------------ input valid - invalid ------------ */
input:invalid {
    border-color: darkred;
    border: 4px solid darkred;
}

input:valid {
    border-color: green;
    border: 4px solid green;
}

.dark-theme input:invalid {
    border-color: darkred;
    border: 4px solid darkred;
    background: var(--nav-input-dark);
    background-color: var(--nav-input-dark);
}

.dark-theme input:valid {
    border-color: green;
    border: 4px solid green;
    background: var(--nav-input-dark);
    background-color: var(--nav-input-dark);
}

/* form auto fill styles */
.dark-theme input:-webkit-autofill {
    -webkit-text-fill-color: var(--text);
    -webkit-box-shadow: 0 0 0px 1000px var(--nav-input-dark) inset;
}


