
@import url('../../App.css');

/* ==============================================================================
signUp / signIn - component
============================================================================== */

.dark-theme .login-box {
    border: 1px solid var(--text-dark);
}

.dark-theme input {
    background: var(--nav-input-dark);
    color: var(--nav-text-input-dark);
}

.login-box {
    border: 1px solid var(--text-light);
    border-radius: var(--corner-radius);
    width: 20%;

    margin: auto;
    margin-top: 1rem;
    padding: 2rem;
}

.login-box button {
    border-radius: var(--corner-radius);
}

.login-box input {
    border-radius: var(--corner-radius);
    margin: .5rem;
    width: 80%;
}

.dark-theme .login-box input::placeholder {
    color: var(--nav-placeholder-dark);
}

#alt-sign-up {
    font-size: .8rem;
}
